result/
model/
__pycache__/
wandb/
*.txt
*.log


*.json
*.h5
*.hdf5
.DS_Store

wandb/

data/*
srgan-orig/implementations/*/data
srgan-orig/implementations/*/images
srgan-orig/implementations/*/saved_models

