
*.json
*.h5
*.hdf5
.DS_Store

*.out
data/*
!data/*.sh
implementations/*/data
implementations/*/images
implementations/*/saved_models
test.py
configs/*
!configs/srgan_format.yaml

saved_models/

__pycache__
